@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #dbd1d1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF8F8;
    --foreground: #3A3A3A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  max-width: 480px;        
  margin: 0 auto;         
  width: 100%;            
  min-height: 100vh;       
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  background-color: 'red' 
  /* background-color: #f0a9de;  */
}