@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #dbd1d1;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  max-width: 480px;        
  margin: 0 auto;         
  width: 100%;            
  min-height: 100vh;       
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  padding: 0;              /* explicitly no padding */
}
